@import url('https://fonts.googleapis.com/css?family=Roboto:700');
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 40px 100px;
    box-sizing: border-box;
}

nav .logo
{
    float: left;
}

nav .logo img{
    height: 80px;
}

nav ul{
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color: white;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 20px;
}

section.sec1{
    width: 100%;
    height: 100vh;
    background: url(assets/backgrounds/hero.jpg);
    background-size: cover;
}

#slogan{
    font-size: 85px;
    text-align: center;
    color: aliceblue;
    padding-top: 19%;
}

#detailed-slogan{
    padding-top: 80px;
    font-size: 25px;
    text-align: center;
    color: aliceblue;
}